.logo {
    width: 70px;
    height: 60px;
    position: absolute;
    left: 15px;
    top: 10px;
    color: white;

    img {
        height: 70%;
    }

    p {
        margin: 0;
        color: #ED7C81;
    }
}